header {
    display: flex;
    justify-content: space-between;
    padding: 30px 15vw;
    align-items: center;
    color: black;
    border-bottom: 1px solid gray;

    img {
        height: 50px;
    }

    nav {
        display: flex;
        align-items: center;
        gap: 25px;

        a {
            text-decoration: none;
        }

        #registrationBtn {
            height: 40px;
            width: 100px;
            background-color: rgb(122, 52, 212);
            border: 0px;
            border-radius: 5px;

            a {
            color: white;
            }
        }
    }
}